.block_hero.card {
    /* remove outline */
    border: none !important;

    /* use full width */
    width: 100vw !important;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw !important;
    margin-right: -50vw !important;

    /* 3. remove margin to top */
    margin-top: -1.5rem !important;
}

.block_hero .card-body {
    padding: 0 !important; /* remove existing padding */
    margin-top: -0.5vh; /* make hero stick to top */
}

.populartheme {
    background-color: #BBE3CE !important;
    outline: 2px solid #76C69D !important;
    color: #303030 !important;

}

.populartheme:hover {
    background-color: #76C69D !important;
}

.udir-search {
    background-color: #5BA27E !important;
    color: #FFFFFF !important;
}

.udir-search:hover {
    background-color: #254B38 !important;
}