{{!
    @template block_hero/content

    Hero block content template.

    Example context (json):
    {
        "title": "Default Hero Title",
        "description": "Default Hero Description",
        "backgroundimage": Uploaded via fileupload
    }
}}
<section
    class="text-white position-relative py-5"
    {{#backgroundimage}}
    style="background: url('{{{backgroundimage}}}') center/cover no-repeat;min-height:260px;display:flex;align-items:center;"
    {{/backgroundimage}}
>
    <!-- Dark overlay -->
    <div class="position-absolute top-0 start-0 w-100 h-100"
    style="background:rgba(0,0,0,0.6);"></div>
    <!-- Content -->
    <div class="ml-4 container position-relative">
        {{#title}}
            <h1 class="display-5 fw-bold mb-3">{{title}}</h1>
        {{/title}}
        {{#description}}
            <p class="lead mb-4 opacity-90">{{description}}</p>
        {{/description}}
        <form action="{{searchurl}}" method="get" class="udir-formsearch">
            <div class="input-group">
                <input
                    type="text"
                    name="q"
                    class="form-control"
                    placeholder={{#str}} searchplaceholder, block_hero {{/str}}
                    aria-label={{#str}} searcharia, block_hero {{/str}}
                >
                <button type="submit" class="btn udir-search">
                    {{#str}} searchsubmit, block_hero {{/str}}
                </button>
            </div>
        </form>
        <div class="d-flex mt-4 gap-3 align-items-center flex-wrap udir-text">
            <a href="{{populartheme1url}}" class="btn px-4 populartheme">
                {{populartheme1}} →
            </a>
            <a href="{{populartheme2url}}" class="btn px-4 populartheme">
                {{populartheme2}} →
            </a>
            <a href="{{populartheme3url}}" class="btn px-4 populartheme">
                {{populartheme3}} →
            </a>
        </div>
    </div>
</section>